<template>
  <div>

    <div class="row">
      <div class="col-lg-4">
        <h2>Total Demande de contact : {{ contacts | count }}</h2>
        <h3>gdp.com : {{ contactGdpcom | count }} ({{ percentage(contactGdpcom) }})</h3>
        <h3>gdp.fr : {{ contactGdpFr | count }} ({{ percentage(contactGdpFr) }})</h3>
        <h3>Invest Immo: {{ contactInvestimmo | count }} ({{ percentage(contactInvestimmo) }})</h3>


        <br> <br>

        <h3>Common Forms : {{ contactCommonForm | count }} ({{ percentage(contactCommonForm) }})</h3>
        <h3>Be Contacted : {{ contactBeContacted | count }} ({{ percentage(contactBeContacted) }})</h3>
        <h3>Product Contact : {{ contactProduct | count }} ({{ percentage(contactProduct) }})</h3>

        <h3> Classé par heure</h3>
        <h4 v-for="n in 23" :key="n" >{{ n }}h :  {{ filterByHour(n) | count }}</h4>

        <h3>Classé par Mois</h3>
        <h4 v-for="n in 12" :key="n+34" >{{ n }} Mois :  {{ filterByMonth(n) | count }}</h4>

      </div>


      <div class="col-lg-8">
        <button @click="changeList(contactCommonForm)"> Commom Form demands</button>
        <button @click="changeList(contactGdpcom,contactBeContacted)"> gdp.com demands</button>
        <button @click="changeList(contactGdpFr)">gdp.fr demands</button>
        <DataList :datas="models"></DataList>
      </div>
    </div>
  </div>
</template>

<script>
import DataList from "@/components/datas-list"
import dataService from "@/services/datas.service";

export default {
  components: {DataList},
  data() {
    return {
      contacts: [],
      models: [],
    };
  },
  filters: {
    count(array) {
      return array && array.length || 0
    }
  },
  methods: {
    filterFromcontact(field, key) {
      const regex = new RegExp(field);
      return this.contacts.filter(contact => regex.test(contact[key])) || []
    },
    filterByHour(hour) {
      return this.contacts.filter((contact) => new Date(contact.Con_created).getHours() === hour);
    },
    filterByMonth(month) {
      return this.contacts.filter((contact) => new Date(contact.Con_created).getMonth() === month);
    },
    percentage({length: counts}) {
      return new Intl.NumberFormat("fr-FR", {style: "percent"}).format(counts / this.contacts.length)
    },
    changeList(list) {
      this.models = list
    }
  },
  computed: {
    contactGdpcom() {
      return this.filterFromcontact("leguidedupatrimoine.com", "Website")
    },
    contactGdpFr() {
      return this.filterFromcontact("leguidedupatrimoine.fr", "Website")
    },
    contactInvestimmo() {
      return this.filterFromcontact("investissement-immobilier.pro", "Website")
    },
    contactCommonForm() {
      return this.filterFromcontact("Common Form", "Type formulaire")
    },
    contactBeContacted() {
      return this.filterFromcontact("Be-Contacted", "Type formulaire")
    },
    contactProduct() {
      return this.filterFromcontact("Product Contact", "Type formulaire")
    }
  },
  async created() {
    try {
      const res = await dataService.getContacts();
      this.contacts = res;
      this.models = res;
    } catch (error) {
      console.log("Oups ! An unknow error occured");
      console.error(`Get contacts failed : `, error)
    } finally {
      console.log("All is finished");
    }
  }
}
</script>

<style scoped>
span {
  color: #fff;
}
</style>
