<template>
  <div>
    <DataList :datas="logs"></DataList>
  </div>
</template>

<script>
import DataList from "@/components/datas-list"
import dataService from "@/services/datas.service";


export default {
  components: {DataList},
  data() {
    return {
      logs: [],
    };
  },
  computed: {
  },
  async created() {
    try {
      this.logs = await dataService.getLogs();
    } catch (error) {
      console.log("Oups ! An unknow error occured");
      console.error(`Get logs failed : `, error)
    } finally {
      console.log("All is finished");
    }
  }
}
</script>

<style scoped>

</style>
