<template>
  <div class="table-full-width">
    <base-table :type="'hover'" :sub-title="'Subtitle'" :data="datas" :columns="columns"></base-table>
  </div>
</template>

<script>
import {BaseTable} from "@/components";

export default {
  components: {BaseTable},
  props: {
    datas: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    columns() {
      return this.datas && this.datas[0] && Object.keys(this.datas[0]);
    }
  },
}
</script>

<style scoped>

</style>
